@model ConfigurationModel

@{
	Layout = "_ConfigureProvider";
}

@await Component.InvokeAsync("StoreScope")

<widget target-zone="admin_button_toolbar_before">
	<button id="SaveConfigButton" type="submit" name="save" class="btn btn-warning" value="save">
		<i class="fa fa-check"></i>
		<span>@T("Admin.Common.Save")</span>
	</button>
</widget>

<div class="plugin-configuration">
	<div>
		<div class="alert alert-info alert-dismissible">
			@Html.Raw(T("Plugins.Smartstore.Pays.AdminInstruction"))
		</div>
	</div>
	<div>
		<a href="#" target="_blank">
			<img src="@Url.Content("~/Modules/Smartstore.Pays/icon.png")" alt="Pays" />
		</a>
	</div>
</div>
<form asp-action="Configure">
	<div asp-validation-summary="All"></div>
	<div class="adminContent">
		<div class="adminRow">
			<div class="adminTitle">
				<smart-label asp-for="Merchant" />
			</div>
			<div class="adminData">
				<setting-editor asp-for="Merchant"></setting-editor>
				<span asp-validation-for="Merchant"></span>
			</div>
		</div>
		<div class="adminRow">
			<div class="adminTitle">
				<smart-label asp-for="Shop" />
			</div>
			<div class="adminData">
				<setting-editor asp-for="Shop"></setting-editor>
				<span asp-validation-for="Shop"></span>
			</div>
		</div>
		<div class="adminRow">
			<div class="adminTitle">
				<smart-label asp-for="ApiKey" />
			</div>
			<div class="adminData">
				<setting-editor asp-for="ApiKey"></setting-editor>
				<span asp-validation-for="ApiKey"></span>
			</div>
		</div>

		<hr>

		<div class="adminRow">
			<div class="adminTitle">
				<smart-label asp-for="AdditionalFee" />
			</div>
			<div class="adminData">
				<setting-editor asp-for="AdditionalFee" sm-postfix="@ViewBag.CurrentCurrencyCode"></setting-editor>
				<span asp-validation-for="AdditionalFee"></span>
			</div>
		</div>
		<div class="adminRow">
			<div class="adminTitle">
				<smart-label asp-for="AdditionalFeePercentage" />
			</div>
			<div class="adminData">
				<setting-editor asp-for="AdditionalFeePercentage"></setting-editor>
				<span asp-validation-for="AdditionalFeePercentage"></span>
			</div>
		</div>
	</div>
</form>